{% extends 'base.html' %}

{% block title %}
    {{ post.title|truncatechars:10 }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-primary mb-0 break-word">{{ post.title }}</h3>
            <small class="text-secondary">{{ post.created }}</small>
            <hr>
            <pre>{{ post.description }}</pre>
        </div>
        <div class="col-md-2">
            <a href="{% url 'posts:update' post.id %}" class="btn btn-primary">Edit</a>
        </div>
    </div>
{% endblock content %}